body {
    font-size: 18px;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

#education {
    padding-bottom: 40px;
}

#projects {
    padding: 15px 0;
    font-size: 20px;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

.work-entry p {
    margin-bottom: 20px;
}

.education-entry em {
    display: block;
    margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  color: #5fbdd5;
  line-height: 48px;
  display: inline;
  margin-right: 10px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  color: #555;
  line-height: 30px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-size: 0.9em;
  color: #444;
  line-height: 1;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 0.9em;
  color: #666;
  line-height: 1.6;

}

p {
  font-size: 1em;
  color: #333;
}

.desc{}

.tech {
    margin-bottom: 20px;
    margin-top: 5px;
    color: #888;
    font-size: 0.9em;
}

a {
  color: #057fa5;
  text-decoration: none;
  margin-top: 0;
}

a.title {
    text-decoration: underline;
    font-weight: bold;
    display: block;
}

a.title:hover {
    text-decoration: none;
}

a.link {
    color: #666;
    text-decoration: underline;
    font-size: 0.9em;
    margin-bottom: 20px;
    display: block;
    float: left;
    width: 100%;
}

a.link:hover {
    text-decoration: none;
}

.welcome-message {
  font-style: italic;
  font-size: 1.1em;
  color: #888;
  line-height: 1.2;
}

#skills-h3 {
  color: #98d8f7;
  display: none;
}

.orange {
  background-color: #5fbdd5;
}

.orange-text {
  color: #98d8f7;
}

.white-text,
.white-text a{
  color: #d7cdc1;
}

.white-text a:hover {
    color: #f34299;
}

.gray {
  background-color: #e1e1e1;
  padding: 15px 0;
  clear: both;
  font-size: 20px;
}

.dark-gray {
  background-color: #222;
}

/* TODO: Replace with image later */
#header {
  background-color: #222;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  padding: 10px 0 20px 0;
}

#topContacts .flex-item,
#footerContacts .flex-item{
    width: 25%;
    text-align: center;
}

.flex-column {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  padding: 10px 0;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 5px 30px 10px 10px;
  width: 120px;
  /* display: none; */
}

img {
  padding: 10px;
  /* filter: contrast(60%) hue-rotate(160deg); */
}


#topContacts span,
#footerContacts span {
    padding-right: 5px;
}

#skills li:nth-child(2) span {
    color: #f7a1cc;
}

#skills li:nth-child(3) span {
    color: #e170ab;
}

#skills li:nth-child(4) span {
    color: #df5699;
}

#skills li:nth-child(5) span {
    color: #f34299;
}

#skills li:nth-child(6) span {
    color: #ef2589;
}

#skills li:nth-child(7) span {
    color: #db0971;
}

#skills li:nth-child(8) span {
    color: #b6055d;
}
#skills span {
    padding-right: 10px;
}

span {
  color: #f34299;
}

#lets-connect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 15px 0 80px 0;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  #topContacts .flex-item,
  #footerContacts .flex-item {
    width: 50%;
  }
  .welcome-message {
    line-height: 1.8;
  }

}

@media only screen and (max-width: 750px) {
    h1 {
        display: block;
        float: left;
        width: 100%;
        font-size: 2em;
    }
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
       width: 150px;
       padding-right: 20px;
    }  
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: flex;
  }
  #skills-h3 {
    width: 200px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
    h1 {
        display: block;
        float: left;
        width: 100%;
        font-size: 2em;
    }
    h1 span {
        display: block;
        float: left;
        width: 100%;
    }
    #topContacts .flex-item,
    #footerContacts .flex-item {
        display: block;
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    .welcome-message {
        font-size: 0.9em;
    }
    .flex-column {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .flex-column li {
        width: 100%;
        margin-top: 10px;
    }
}

