body {
    font-size: 18px;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

#education {
    padding-bottom: 30px;
}

#projects {
    padding: 15px 0;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

.education-entry em {
    display: block;
    margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  color: #5fbdd5;
  line-height: 48px;
  display: inline;
  margin-right: 10px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 17px;
  color: #555;
  line-height: 30px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 15px;
  color: #666;
  line-height: 18px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 15px;
  color: #555;
  line-height: 16px;

}

p {
  font-size: 0.9em;
  color: #333;
  margin-bottom: 20px;
}

a {
  color: #057fa5;
  text-decoration: none;
  margin-top: 0;
  display: block;
}

a.title {
    text-decoration: underline;
    font-weight: bold;
}

a.title:hover {
    text-decoration: none;
}

a.link {
    color: #666;
    text-decoration: underline;
}

a.link:hover {
    text-decoration: none;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #888;
  line-height: 28px;
}

#skills-h3 {
  color: #aadef7;
  display: none;
}

.orange {
  background-color: #5fbdd5;
}

.orange-text {
  color: #aadef7;
}

.white-text {
  color: #d7cdc1;
}

.gray {
  background-color: #e1e1e1;
  padding: 15px 0;
  clear: both;
}

.dark-gray {
  background-color: #222;
}

/* TODO: Replace with image later */
#header {
  background-color: #222;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0 20px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
    font-size: 0.9em;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  color: #f34299;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 15px 0 80px 0;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
